@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,

html[data-theme="dark"] {
  --background: #1c1c1e;   /* dark gray (not full black) */
  --foreground: #f7f7f8;   /* light gray text */
  --accent: #EAB308;       /* Burned gold */
  --muted: #9ca3af;        /* muted gray */
  --border: #f7f7f8;       /* mid gray border */
  --hr-border:#E6B400;
}

html[data-theme="light"] {
  --background: #f7f7f8;   /* soft off-white */
  --foreground: #1e1e1e;   /* softer near-black text */
  --accent: #00C8FF;       /* Burned gold */
  --muted: #6b7280;        /* neutral gray for secondary text */
  --border: #EAB308;       /* subtle gray border */
  --hr-border:#00C8FF;

}

hr.border-border{
  color: var(--hr-border);
  border-color: var(--hr-border)
}

hr.halo{
  border:none;
  height:1px;
  background:var(--hr-border);
  box-shadow:0 0 2px var(--hr-border),0 0 4px var(--hr-border),0 0 8px var(--hr-border),0 0 16px var(--hr-border),0 0 32px var(--hr-border);
}

/* html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;
}

html[data-theme="dark"] {
  --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60;
  --border: #ab4b08;
}
*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background  text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-app px-4;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}

.alignright{
	text-align:right;
}
